<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{.Name}}</h1>
<h1>{{.Name}} p1 is added</h1>
<h2>{{.Age}}</h2>
<h3>{{.SomeProcessing}} should be 7</h3>
<h3>{{.AgeDbl}} should be 112</h3>
<h3>{{.Age | .TakesArg}}</h3>
<h3>{{.AgeDbl | .TakesArg}}</h3>
</body>
</html>