<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
</head>
<body>
<br>Full Menu{{.}}
<br>
{{range .}}
<br>Breakfast = {{.Breakfast}}
<br>{{.Lunch}} = the lunch today
<br>{{.Dinner}} = dinner time treats

{{end}}
</body>
</html>
