<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>data present, using templates</title>
</head>
<body>

{{/*http.HandleFunc("/", a)*/}}
{{/*http.HandleFunc("/dog", d)*/}}
{{/*http.HandleFunc("/me", me1)*/}}



{{.}}

{{/*{{if / then a}}*/}}
{{"what we wanted to present: ."}}
</body>
</html>