<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>
<br>
Without date formatting: {{.}}
<br>
With date formatting: {{fdateMDY .}}


</body>
</html>