<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{range .}}
    {{.Fall.Term}}{{.AcaYear}}<br>
    {{range .Fall.Courses}}
    <li>{{.Number}} -  {{.Name}} - {{.Units}} </li>
    {{end}}


    {{.Spring.Term}}{{.AcaYear}}<br>
    {{range .Spring.Courses}}
    <li>{{.Number}} -  {{.Name}} - {{.Units}} </li>
    {{end}}

    {{/*{{.Winter.Term}}{{.AcaYear}}<br>*/}}
{{end}}

</body>
</html>